@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-main: "Roboto", sans-serif;
  --color-bg: #ffffff;
  --color-text: #000000;
  --transition: 1s ease all;
  --color-dark: rgb(33, 33, 212);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: 0;
  outline: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
}

a:link {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  transition: var(--transition);
}

.btnDark {
  background-color: var(--color-dark);
  color: var(--color-bg);
}
