.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.actions {
  display: flex;
  gap: 1rem;
  grid-column: 2 / -1;
  justify-self: end;
}

.title {
  grid-column: 1 / 2;
}

.content {
  grid-column: 1/-1;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.358);
  background-color: var(--color-bg);
  padding: 2.5rem 1.5rem;
  border-radius: 5px;
}
